{
    auto_https disable_redirects
    admin off
}

https://localhost:8446 {
    tls internal
    @davDiscovery path /.well-known/caldav /.well-known/carddav
    rewrite @davDiscovery /dav.php
    reverse_proxy unidav-baikal:80
}
